@font-face {
    font-family: "Manrope VF";
    src: url("Manrope.ttf") format("truetype-variations");
    font-style: normal;
    font-weight: 200 800;
}

body {
    font-family: "Manrope VF", sans-serif;
    padding: 0.5em;
}

h1 a {
    text-decoration: none;
    color: black;
}

footer {
    font-size: smaller;
}

.text-center {
    text-align: center;
}

.flash {
    border: 1px solid #335C7B;
    background-color: hsl(205.8, 34.6%, 80%);
    margin: 1em 0;
    padding: 0.25em 0.5em;
}
.flash-success {
    border-color: green;
    background-color: hsl(120, 100%, 95%);
}
.flash-warning {
    border-color: #FFCC00;
    background-color: hsl(48, 100%, 85%);
}
.flash-error {
    border-color: red;
    background-color: hsl(0, 100%, 90%);
}

.country-select {
    max-width: 150px;
}

.socials {
    margin-top: 2em;
    line-height: 1.5;
}
.socials a {
    text-transform:uppercase;
    font-weight:600;
    font-size:12px;
    letter-spacing:1px;
    color:#888;
    padding:0 0.5em;
    text-decoration:none
}

.copyright {
    margin-top: 1em;
}
