@font-face {
    font-family: "Manrope VF";
    src: url("Manrope.ttf") format("truetype-variations");
    font-style: normal;
    font-weight: 200 800;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    font-family: "Manrope VF", sans-serif;
}

body {
    padding: 0.5em;
}

.wrapper {
    min-height: 100%;
    max-width: 1070px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

footer {
    margin: 2em 0 1em;
    font-size: smaller;
    clear: both;
}

h1 a {
    text-decoration: none;
    color: black;
}

.text-center {
    text-align: center;
}

.flash {
    border: 1px solid #335C7B;
    background-color: hsl(205.8, 34.6%, 80%);
    margin: 1em 0;
    padding: 0.25em 0.5em;
}
.flash-success {
    border-color: green;
    background-color: hsl(120, 100%, 95%);
}
.flash-warning {
    border-color: #FFCC00;
    background-color: hsl(48, 100%, 85%);
}
.flash-error {
    border-color: red;
    background-color: hsl(0, 100%, 90%);
}

.country-select {
    max-width: 150px;
}

.sym {
    margin-right: 0.5em;
    text-align: center;
}
.conditions {
    line-height: 2;
}
.conditions dt {
    font-weight: 550;
    float: left;
}
.conditions dd {
    margin-left: 11em;
}
.conditions-narrow dd {
    margin-left: 8.5em;
}
.conditions-current {
    margin-left: 0.5em;
}
.forecast-card {
    float: left;
    box-sizing: border-box;
    width: 250px;
    border: 1px solid hsl(194.7, 60.3%, 90%);
    border-radius: 0.5em;
    margin: 0.5em 0.5em 1em;
    padding: 1em;
}
.forecast-card h4 {
    margin-top: 0;
}

.socials {
    margin-top: 2em;
    line-height: 1.5;
}
.socials a {
    text-transform:uppercase;
    font-weight:600;
    font-size:12px;
    letter-spacing:1px;
    color:#888;
    padding:0 0.5em;
    text-decoration:none
}

.copyright {
    margin-top: 1em;
}

@media all and (max-width: 400px) {
    h1 {
        /* Responsive full-width font size */
        font-size: clamp(100%, 1rem + 10vw, 30px);
    }
    .forecast-card {
        float: none;
        width: auto;
    }
}
