{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h3>Weather Data</h3>

<p>Weather data and geolocation is provided by <a href="https://openweathermap.org/">OpenWeather</a>.</p>

<h3>Open Source Libraries</h3>

<p>Thanks to the authors of these crates, which made this project possible.
Note these are all dependencies, direct and transitive</p>

<ul>
  <li><a href="https://github.com/RustCrypto/traits">aead</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/block-ciphers">aes</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/AEADs">aes-gcm</a> — Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/djc/askama">askama</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/djc/askama">askama_derive</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/djc/askama">askama_escape</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/djc/askama">askama_rocket</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/djc/askama">askama_shared</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/tokio-rs/async-stream">async-stream</a> — MIT</li>
  <li><a href="https://github.com/tokio-rs/async-stream">async-stream-impl</a> — MIT</li>
  <li><a href="https://github.com/dtolnay/async-trait">async-trait</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/Amanieu/atomic-rs">atomic</a> — Apache-2.0/MIT</li>
  <li><a href="https://github.com/softprops/atty">atty</a> — MIT</li>
  <li><a href="https://github.com/cuviper/autocfg">autocfg</a> — Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/marshallpierce/rust-base64">base64</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/naim94a/binascii-rs">binascii</a> — MIT</li>
  <li><a href="https://github.com/bitflags/bitflags">bitflags</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/utils">block-buffer</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/tokio-rs/bytes">bytes</a> — MIT</li>
  <li><a href="https://github.com/alexcrichton/cc-rs">cc</a> — MIT/Apache-2.0</li>
  <li><a href="https://crates.io/crates/celes">celes</a> — Apache-2.0</li>
  <li><a href="https://github.com/alexcrichton/cfg-if">cfg-if</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/chronotope/chrono">chrono</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/traits">cipher</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/cookie-rs">cookie</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/utils">cpufeatures</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/traits">crypto-common</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/stream-ciphers">ctr</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/TedDriggs/darling">darling</a> — MIT</li>
  <li><a href="https://github.com/TedDriggs/darling">darling_core</a> — MIT</li>
  <li><a href="https://github.com/TedDriggs/darling">darling_macro</a> — MIT</li>
  <li><a href="https://github.com/SergioBenitez/Devise">devise</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/Devise">devise_codegen</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/Devise">devise_core</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/traits">digest</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/bluss/either">either</a> — MIT/Apache-2.0</li>
  <li><a href="https://docs.rs/encoding_rs/">encoding_rs</a> — Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/SergioBenitez/Figment">figment</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/servo/rust-fnv">fnv</a> — Apache-2.0 / MIT</li>
  <li><a href="https://github.com/servo/rust-url">form_urlencoded</a> — MIT/Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-channel</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-core</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-io</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-macro</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-sink</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-task</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-lang.github.io/futures-rs">futures-util</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/fizyk20/generic-array.git">generic-array</a> — MIT</li>
  <li><a href="https://github.com/rust-random/getrandom">getrandom</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/universal-hashes">ghash</a> — Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/rust-lang/glob">glob</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/hyperium/h2">h2</a> — MIT</li>
  <li><a href="https://github.com/rust-lang/hashbrown">hashbrown</a> — Apache-2.0/MIT</li>
  <li><a href="https://github.com/RustCrypto/KDFs/">hkdf</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/MACs">hmac</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/hyperium/http">http</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/hyperium/http-body">http-body</a> — MIT</li>
  <li><a href="https://github.com/seanmonstar/httparse">httparse</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/pyfisch/httpdate">httpdate</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/LeopoldArkham/humansize">humansize</a> — MIT/Apache-2.0</li>
  <li><a href="https://hyper.rs">hyper</a> — MIT</li>
  <li><a href="https://github.com/ctz/hyper-rustls">hyper-rustls</a> — Apache-2.0/ISC/MIT</li>
  <li><a href="https://github.com/TedDriggs/ident_case">ident_case</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/servo/rust-url/">idna</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/bluss/indexmap">indexmap</a> — Apache-2.0/MIT</li>
  <li><a href="https://github.com/fitzgen/inlinable_string">inlinable_string</a> — Apache-2.0/MIT</li>
  <li><a href="https://github.com/marirs/rust-ip2location">ip2location</a> — </li>
  <li><a href="https://github.com/krisprice/ipnet">ipnet</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/itoa">itoa</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/itoa">itoa</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/rust-lang-nursery/lazy-static.rs">lazy_static</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/rust-lang/libc">libc</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/Amanieu/parking_lot">lock_api</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/rust-lang/log">log</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/SimonSapin/rust-std-candidates">matches</a> — MIT</li>
  <li><a href="https://github.com/BurntSushi/rust-memchr">memchr</a> — Unlicense/MIT</li>
  <li><a href="https://github.com/danburkert/memmap-rs">memmap</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/hyperium/mime">mime</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/abonander/mime_guess">mime_guess</a> — MIT</li>
  <li><a href="https://github.com/Alexhuszagh/minimal-lexical">minimal-lexical</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/tokio-rs/mio">mio</a> — MIT</li>
  <li><a href="https://github.com/rousan/multer-rs">multer</a> — MIT</li>
  <li><a href="https://github.com/Geal/nom">nom</a> — MIT</li>
  <li><a href="https://github.com/rust-num/num-integer">num-integer</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/rust-num/num-traits">num-traits</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/seanmonstar/num_cpus">num_cpus</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/jhpratt/num_threads">num_threads</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/matklad/once_cell">once_cell</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/utils">opaque-debug</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/Amanieu/parking_lot">parking_lot</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/Amanieu/parking_lot">parking_lot_core</a> — MIT OR Apache-2.0</li>
  <li><a href="">pear</a> — MIT/Apache-2.0</li>
  <li><a href="">pear_codegen</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/servo/rust-url/">percent-encoding</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/taiki-e/pin-project-lite">pin-project-lite</a> — Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/rust-lang-nursery/pin-utils">pin-utils</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/universal-hashes">polyval</a> — Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/cryptocorrosion/cryptocorrosion">ppv-lite86</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/proc-macro-hack">proc-macro-hack</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/proc-macro-hack">proc-macro-nested</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/alexcrichton/proc-macro2">proc-macro2</a> — MIT OR Apache-2.0</li>
  <li><a href="">proc-macro2-diagnostics</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/quote">quote</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-random.github.io/book">rand</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-random.github.io/book">rand_chacha</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rust-random.github.io/book">rand_core</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/ref-cast">ref-cast</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/ref-cast">ref-cast-impl</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/XAMPPRocky/remove_dir_all.git">remove_dir_all</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/seanmonstar/reqwest">reqwest</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/briansmith/ring">ring</a> — </li>
  <li><a href="https://rocket.rs">rocket</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rocket.rs">rocket_codegen</a> — MIT OR Apache-2.0</li>
  <li><a href="https://rocket.rs">rocket_http</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/ctz/rustls">rustls</a> — Apache-2.0/ISC/MIT</li>
  <li><a href="https://github.com/dtolnay/rustversion">rustversion</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/dtolnay/ryu">ryu</a> — Apache-2.0 OR BSL-1.0</li>
  <li><a href="https://github.com/bluss/scopeguard">scopeguard</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/ctz/sct.rs">sct</a> — Apache-2.0/ISC/MIT</li>
  <li><a href="https://serde.rs">serde</a> — MIT OR Apache-2.0</li>
  <li><a href="https://serde.rs">serde_derive</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/serde-rs/json">serde_json</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/nox/serde_urlencoded">serde_urlencoded</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/jonasbb/serde_with">serde_with</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/jonasbb/serde_with/tree/master/serde_with_macros">serde_with_macros</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/hashes">sha2</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/vorner/signal-hook">signal-hook-registry</a> — Apache-2.0/MIT</li>
  <li><a href="https://github.com/tokio-rs/slab">slab</a> — MIT</li>
  <li><a href="https://github.com/servo/rust-smallvec">smallvec</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/rust-lang/socket2">socket2</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/mvdnes/spin-rs.git">spin</a> — MIT</li>
  <li><a href="https://github.com/mvdnes/spin-rs.git">spin</a> — MIT</li>
  <li><a href="https://github.com/SergioBenitez/stable-pattern">stable-pattern</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/state">state</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/dguo/strsim-rs">strsim</a> — MIT</li>
  <li><a href="https://dalek.rs/">subtle</a> — BSD-3-Clause</li>
  <li><a href="https://github.com/dtolnay/syn">syn</a> — MIT OR Apache-2.0</li>
  <li><a href="http://stebalien.com/projects/tempfile-rs">tempfile</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/time-rs/time">time</a> — MIT/Apache-2.0</li>
  <li><a href="https://time-rs.github.io">time</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/time-rs/time">time-macros</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/Lokathor/tinyvec">tinyvec</a> — Zlib OR Apache-2.0 OR MIT</li>
  <li><a href="https://github.com/Soveu/tinyvec_macros">tinyvec_macros</a> — MIT OR Apache-2.0 OR Zlib</li>
  <li><a href="https://tokio.rs">tokio</a> — MIT</li>
  <li><a href="https://tokio.rs">tokio-macros</a> — MIT</li>
  <li><a href="https://github.com/tokio-rs/tls">tokio-rustls</a> — MIT/Apache-2.0</li>
  <li><a href="https://tokio.rs">tokio-stream</a> — MIT</li>
  <li><a href="https://tokio.rs">tokio-util</a> — MIT</li>
  <li><a href="https://tokio.rs">tokio-util</a> — MIT</li>
  <li><a href="https://github.com/alexcrichton/toml-rs">toml</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/tower-rs/tower">tower-service</a> — MIT</li>
  <li><a href="https://tokio.rs">tracing</a> — MIT</li>
  <li><a href="https://tokio.rs">tracing-attributes</a> — MIT</li>
  <li><a href="https://tokio.rs">tracing-core</a> — MIT</li>
  <li><a href="https://github.com/seanmonstar/try-lock">try-lock</a> — MIT</li>
  <li><a href="https://github.com/bluss/twoway">twoway</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/paholg/typenum">typenum</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/ubyte">ubyte</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/uncased">uncased</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/bluss/unchecked-index">unchecked-index</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/seanmonstar/unicase">unicase</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/servo/unicode-bidi">unicode-bidi</a> — MIT / Apache-2.0</li>
  <li><a href="https://github.com/unicode-rs/unicode-normalization">unicode-normalization</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/unicode-rs/unicode-xid">unicode-xid</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/RustCrypto/traits">universal-hash</a> — MIT OR Apache-2.0</li>
  <li><a href="https://github.com/briansmith/untrusted">untrusted</a> — ISC</li>
  <li><a href="https://github.com/servo/rust-url">url</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/SergioBenitez/version_check">version_check</a> — MIT/Apache-2.0</li>
  <li><a href="https://github.com/seanmonstar/want">want</a> — MIT</li>
  <li><a href="https://github.com/briansmith/webpki">webpki</a> — </li>
  <li><a href="https://github.com/ctz/webpki-roots">webpki-roots</a> — MPL-2.0</li>
  <li><a href="https://github.com/SergioBenitez/yansi">yansi</a> — MIT/Apache-2.0</li>
</ul>

<h3>GeoIP Database</h3>

<div>
  This site or product includes IP2Location LITE data available from <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.
</div>
{% endblock content %}
