{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
<em>Note: values are for a hardcoded location at the moment.</em>

<h3>Current Conditions</h3>

🌡️: {{ forecast.current.temp.to_celcius() }} ({{ forecast.current.feels_like.to_celcius() }})<br>
💧: {{ forecast.current.dew_point.to_celcius() }}<br>
🌅: {{ forecast.current.sunrise.time_12h(forecast.timezone_offset) }}<br>
🌇: {{ forecast.current.sunset.time_12h(forecast.timezone_offset) }}<br>
UV: {{ forecast.current.uvi }}<br>
🌫: {{ forecast.current.humidity }}

<h3>7 Day Forecast</h3>

{% for day in forecast.daily %}
<div>
    <h4>{{ day.dt.day_date(forecast.timezone_offset) }}</h4>
  💧: {{ day.dew_point.to_celcius() }}
</div>
{% endfor %}

{% endblock content %}
