{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
Insert forecast here.

<h3>Current Conditions</h3>

🌡️: {{ forecast.current.temp.to_celcius() }} ({{ forecast.current.feels_like.to_celcius() }})<br>
💧: {{ forecast.current.dew_point.to_celcius() }}<br>
🌅: {#{{ forecast.current.sunrise }}#}<br>
🌇: {#{{ forecast.current.sunset }}#}<br>
UV: {{ forecast.current.uvi }}<br>
🌫: {{ forecast.current.humidity }}

<h3>Forecast</h3>

{% for day in forecast.daily %}
<div>
    {#<h4>{{ day.dt }}</h4>#}
    <h4>TODO: Day/Date</h4>
  💧: {{ day.dew_point.to_celcius() }}
</div>
{% endfor %}

{% endblock content %}
