{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dewpoint Forecast - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" href="data:image/svg+xml,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 100 100&quot;&gt;&lt;text y=&quot;.9em&quot; font-size=&quot;90&quot;&gt;💧&lt;/text&gt;&lt;/svg&gt;"/>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="text-center"><a href="/">💧 Dewpoint Forecast</a></h1>
      </header>

      <main>
        <h2>{{ title }}</h2>
        {% include "flash.html" %}
        {% block content %}{% endblock content %}
      </main>

      <footer class="text-center">
        <div class="socials">
          <a href="https://www.wezm.net/v2/about/">About</a>
          •
          <a href="https://twitter.com/wezm">Twitter</a>
          <a href="https://decentralised.social/wezm">Fediverse</a>
          <a href="https://github.com/wezm">GitHub</a>
          <a href="https://github.com/sponsors/wezm">Support My Work</a>
        </div>
        <div class="copyright">
          Copyright © {% call macros::copyright_years() %} Wesley Moore —
          <a href="https://github.com/wezm/dewpoint.7bit.org">Website Source on GitHub</a>
          ({{ ""|git_revision }})
        </div>
        <div>
          This site or product includes IP2Location LITE data available from <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.
        </div>
      </footer>
    </div>
  </body>
</html>
